th{
    background:rgb(39, 94, 165);
}
.ccoo9{
    text-align:right;
}
.ccoo1{
    background:rgb(155, 50, 146);
}
.ccoo2{
    background:rgb(39, 235, 0);
}
.ccoo3{
    background:rgb(159, 175, 10);
}
.ccoo4{
    background:rgb(236, 75, 75);
}
.ccoo5{
    background:rgb(255, 0, 0);
}
.ccoo6{
    background:rgb(11, 159, 245);
}
.ccoo7{
    background:rgb(11, 91, 138);
}
.ccoo8{
    background:rgb(238, 255, 0);
}
.head{
    text-align: center;
  }
.c3{
    margin-left: auto;
    margin-right: auto;
  }